/src/main/client/node_modules/
/target/
/.idea/
/src/main/client/.idea/
/src/main/client/build/
/src/main/resources/webroot/
/src/main/resources/electiondata/2008/BrindabellaTotal.txt
/src/main/resources/electiondata/2008/Candidates.txt
/src/main/resources/electiondata/2008/Electorates.txt
/src/main/resources/electiondata/2008/GinninderraTotal.txt
/src/main/resources/electiondata/2008/MolongloTotal.txt
/src/main/resources/electiondata/2012/BrindabellaTotal.txt
/src/main/resources/electiondata/2012/Candidates.txt
/src/main/resources/electiondata/2012/Electorates.txt
/src/main/resources/electiondata/2012/GinninderraTotal.txt
/src/main/resources/electiondata/2012/MolongloTotal.txt
/src/main/resources/electiondata/2016/BrindabellaTotal.txt
/src/main/resources/electiondata/2016/Candidates.txt
/src/main/resources/electiondata/2016/Electorates.txt
/src/main/resources/electiondata/2016/GinninderraTotal.txt
/src/main/resources/electiondata/2016/KurrajongTotal.txt
/src/main/resources/electiondata/2016/MurrumbidgeeTotal.txt
/src/main/resources/electiondata/2016/YerrabiTotal.txt
/src/main/resources/electiondata/2020/BrindabellaTotal.txt
/src/main/resources/electiondata/2020/Candidates.txt
/src/main/resources/electiondata/2020/Electorates.txt
/src/main/resources/electiondata/2020/GinninderraTotal.txt
/src/main/resources/electiondata/2020/KurrajongTotal.txt
/src/main/resources/electiondata/2020/MurrumbidgeeTotal.txt
/src/main/resources/electiondata/2020/YerrabiTotal.txt
/src/main/client/node/
